EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=fastmark-e881d.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=fastmark-e881d
EXPO_PUBLIC_FIREBASE_APP_ID=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=3127291193
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=fastmark-e881d.firebasestorage.app

# Optional Node API for profile sync.
EXPO_PUBLIC_NODE_API_URL=
# Web OAuth (client_type 3 trong google-services.json)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=3127291193-vapc6989v56ove18gbib336mpf8aruk4.apps.googleusercontent.com
# Android OAuth (client_type 1, khớp SHA-1 debug/release trong Firebase)
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=3127291193-94001sfai3r77epe21kd2ngu5qmrrul2.apps.googleusercontent.com
# iOS: OAuth Client loại iOS (bundle com.nduy17.fastmark)
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
